body {
    background-color: #A2D3E7;
    text-align: center;
  }
  
  .welcome {
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: 10px;
  }
.header {
  overflow: hidden;
  background-color: #003A6B;
  padding: 20px 30px;
}
.name a {
  float: left;
  color:white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 30px;
  line-height: 25px;
  border-radius: 4px;
}
.header-right a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
.header a:hover {
  background-color: #DBE9F5;
 color: black;
}
.header a.active {
  background-color: #DBE9F5;
  color: black;
}
.header-right {
  float: right;
 
}
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;   
  }
}
html, body {
  margin: 0;
  height: 100%;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #2c5d87;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0;  
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2c5d87;
  max-width: 100%;
  margin-top: 50px;
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 8px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #DBE9F5;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.text{
  margin-left: 20px;
}
.active{
  margin-left: 20px;
}
.name{
  font-size: 100px;
}
.me{
max-width: 400px;
border-radius: 50%;
float: left;   
margin: 30px 12px 3px 4px;   
margin-left: 4%;
box-shadow: 20px 10px;
}
.edu{
  font-size: 75%;
  float: right;
}
.intro{
  margin-right: 5%;
  display: block;
}

.cbut{
background-color: white;
font-weight: bolder;
margin: 20px;
  font-size: 20px;
  padding: 40px;
  border-radius: 50%;
  border-width: 7px;
  border-color: black;
  color: black;
}
.sbut{
background-color: white;
margin-right: 100px;
font-weight: bolder;
margin: 20px;
  font-size: 20px;
  padding: 40px;
  border-radius: 50%;
  border-width: 7px;
  border-color: black;
  color: black;
}
.pbut{
background-color: white;
font-weight: bolder;
margin: 20px;
  font-size: 20px;
  padding: 40px;
  border-radius: 50%;
  border-width: 7px;
  border-color: black;
  color: black;
}
.abut{
background-color: white;
font-weight: bolder;
margin: 20px;
  font-size: 20px;
  padding: 40px;
  border-radius: 50%;
  border-width: 7px;
  border-color: black;
  color: black;
}

  .philosophy{
    float: right;
    width: 70%;
    font-size: 30px;
    display: block;
    text-align: center;
    margin-right: 4%;
  }
  .hands-on{
    float: left;
margin-left: 2%;
margin-top: 5%;
width: 20%;
box-shadow: 10px 10px;
    border-radius: 5%;
  }
  .teaching{
    
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: 5%;
    margin-bottom: 2%;
    font-size: 70px;
float: center;
  }
  .theories{
    background-color: #00A0b0;
  }
 
  .me2{
    max-width: 400px;
    float: left; 
    margin-left: 10%;
    border-radius: 5%;
    box-shadow: 10px 10px;
  }
  .aboutme{
    float: right;
    max-width: 50%;
    font-size: 40px;
    margin-right: 10%;
  }
  .abintro{
    font-size: 70px;
 margin-left: 30%;
margin-bottom: -1%;
 
  }
.standbut{
  color: white;
  padding: 30px 40px;
  margin: 10%;
  height: 50px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  display: block;
  border:black;
   background-color:#00A0b0;
   border-color: black;
   outline:none;
   border-radius: 45%;
}
.rights{
  float: right;
  margin-right: 30%;
}
.lefts{
  float: left; 
  margin-left: 30%;
}
.artbut{
  float: right;
  margin-right: 42%;
}
.techwise{
  text-decoration: none;
  color: black;
  background-color: #00A0b0;
}
.aboutme2{
  float: right;
    margin-right: 10%;
    margin-left: 10%;
    font-size: 40px;
    margin-top: -1%;
   
}
.standards{
  width: 40%;
  text-align: center;
  margin-left: 28%;
  margin-right:28%;
  margin-top: 5%;
  font-size: 160%;
  border-radius: 25px;
  background-color: #00A0b0;
  padding: 2%;
  color: white;
}
.standard3{
  float: left;
  width: 25%;
  padding: 2%;
}
.artifact3{
  float: right;
  width: 25%;
  padding: 2%;
}
.scite{
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10%;
  font-size: 100%; margin-bottom: 3%;
}
b{
  font-size: 115%;
}
.standardbut{
  text-align: center;
  padding: 2%;
  margin-top: 35%;
  margin-left: -20%;
  float: left;
  background-color: #00A0b0;
  border-radius: 10%;
  color: white;
  text-decoration: none;
}

.artifactbut{
  text-align: center;
  padding: 2%;
  margin-top: 35%;
  margin-right: -20%;
  float: right;
  background-color: #00A0b0;
  border-radius: 10%;
  color: white;
  text-decoration: none;
}
.letters{
  float: center;
    display: block;
    
}
.lettern{
  float: center;
  font-size: 00%;
}
.letter{
  float: center;
  display: block;
}

.credentials{
  padding: 2%;
}
.linkedin{
  margin-left: -15%;

}
.resume{
  margin-right: -10%;
margin-top: -5%;
}
.pcitations{
  display: block; 
  margin-top: 20%;
  padding: 20%;
}
.important{
  
}

.dropdown1 {
  float: left;
  overflow: hidden;
}
.dropdown1 .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #2c5d87;
  
  background-color: inherit;
  font-family: inherit; 
  margin: 0;  
}
.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #2c5d87;
  max-width: 100%;
  margin-top: 50px;
  z-index: 1;
}
.dropdown-content1 a {
  float: none;
  color: white;
 
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #DBE9F5;
}
.dropdown1:hover .dropdown-content1 {
  display: block;
}